<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
<!-- cfg dao class -->
<bean id="dao" class="com.nt.dao.StudentDAOImpl"/>
<!-- cfg service class -->
<bean id="service" class="com.nt.service.StudentManagerImpl">
<constructor-arg ref="dao"/>
</bean>
<!-- cfg controller class -->
<bean id="controller" class="com.nt.controler.StudentController">
<constructor-arg ref="service"/>
</bean>

</beans>
